body{
    margin: 0;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 10000;
}
header .logo2{
    display: none;
    transition: 0.6s;
}
header.sticky{
    padding: 10px 100px;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 35px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 35px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 35px -15px rgba(0,0,0,0.75);
}

header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
   position: relative; 
   list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing:  2px;
    font-weight: 600;
    transition: 0.6s;
    font-size: 26px;
}
header ul li a:hover{
    text-decoration: none;
    color:#cfa670;
}
#headerH1
{
    position: absolute;
    bottom: 240px;
    display: flex;
    z-index: 9999;
    color: white;
    left: 330px;
    font-size: 72px;
    font-family: Italianno;
}
.headerButton
{
    width: 100%;
    position: absolute;
    bottom: 140px;
    display: flex;
    z-index: 9999;
}
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(wine.jpg);
    background-size: cover;
}

header.sticky ul li a{
    color: #cfa670;
}

header.sticky ul li a:hover{
    color: rgb(4, 18, 34);
}

header.sticky .logo{
    display: none;
    transition: 0.6s;
}
header.sticky .logo2{
    display: block;
    transition: 0.6s;
}

article {
    font-family: fira sans;
}

article h2{
    font-family: Italianno;
    font-size: 52px;
}

#offer
{
    background-color: #cfa670;
    padding: 40px 9%;
}

#offer h1{
    color: #fff;
    font-family: Italianno;
    font-size: 72px;
}

.offerBlock{
    height: auto;
    width: 32%;
    margin: 0.5% 0.5%;
    background-color: #fff;
    color:#cfa670;
    border-radius: 2px;
}

.offerIcon{
    font-size: 50px;
}

#homepage_bottom_image {
    background-image: url(homepage_image.jpg); 
    width: 100%;
    height:350px; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: table;
}

.opinions{
    background-image: url(opinie.jpg); 
    background-size: cover;
    width: 100%;
    height:500px;
    color: #fff;
    padding-top: 100px;
}

.opinions h1{
    color: #cfa670;
}

.whiteButton
{
    height: auto;
    border: solid;
    border-color: white;
    border-width: 3px;
    padding: 2px 14px;
    border-radius: 2px;
    transition: 0.8s;
}
.whiteButtonLink
{
    color: #fff;
}
.whiteButtonLink:hover{
    color: #cfa670;
    text-decoration: none;
}

footer{
    height: 60vh;
    background-color: rgb(4, 18, 34);
    color: #fff;
    font-family: fira sans;
}